/* Color-Scheme */

* {
    BG:    #ECEFF4ff;
    BGA:   #D8DEE9ff;
    FG:    #2E3440ff;
    BDR:   #4DD0E1ff;
    SEL:   #4DD0E1ff;
    UGT:   #EC407Aff;
	IMG:   #EC407Aff;
	ON:    #61C766ff;
	OFF:   #EC7875ff;
}
